.primary {
	color: #1875d1;
}
.primaryDark {
	color: #071b30;
}
.secondary {
	color: #ff5722;
}
.neutralDark {
	color: #808486;
}
.neutral {
	color: #d7e0e4;
}
.neutralLight {
	color: #f1f7fa;
}
.white {
	color: white;
}
.black {
	color: black;
}
